/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/lib/ext/
!/lib/ext/.gitkeep

# rspec failure tracking
.rspec_status


# Added by cargo

json_schema-*.tar.gz

/target
/ext
!/ext/Rakefile
